<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="@{'/public/images/icons/favicon.ico'}">

    <title>Account - MonumentFinder</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="@{'/public/stylesheets/signin.css'}" rel="stylesheet">

    <link href="@{'/public/stylesheets/bootstrap-multiselect.css'}" rel="stylesheet">
    <script src="@{'/public/js/bootstrap-multiselect.js'}"></script>
  </head>

  <body class="text-center">
  <div id="container" class="container">
    #{form @Application.accountmanager(a,u,e,p,np,m,g)}
    <form class="form-signin">
        <!--<img class="mb-4" src="@{'/public/images/logo.png'}" alt="" width="10" height="10">-->
        <h1 class="h3 mb-3 font-weight-normal">Edit your account</h1><br>
        <input name="a" id="actionType" class="form-control" value="1" type="hidden">
        <input name="u" id="inputUsername" class="form-control" value="${username}" type="hidden">

        <div class="alert alert-info" role="alert">${message}</div>

        <label for="inputUsername" class="sr-only">Username</label>
        <input id="inputUsername" class="form-control" placeholder="Username" value="${username}" required="" disabled>
        <label for="inputEmail" class="sr-only">Email</label>
        <input name="e" id="inputEmail" class="form-control" placeholder="Email" value="${email}" required="" type="email">
        <label for="inputPassword" class="sr-only">Old password</label>
        <input name="p" id="inputPassword" class="form-control" placeholder="Old password" required="" autofocus="" type="password">
        <label for="inputPasswordNew" class="sr-only">New password</label>
        <input name="np" id="inputPasswordNew" class="form-control" placeholder="New password" required="" autofocus="" type="password">
        <label for="inputPhone" class="sr-only">Mobile phone</label>
        <input name="m" id="inputPhone" class="form-control" placeholder="Mobile phone" value="${mobil}" required="" type="number"><br>
        <p><strong>Tell us what you love:</strong></p>
        <div class="form-group">
            <label for="preferences" class="sr-only">Tell us what you love</label>
            <select name="g" id="preferences" class="multiselect-ui form-control" multiple="multiple" placeholder="Tell us what you love" required="" autofocus="">
                <option value="Sightseeing">Sightseeing</option>
                <option value="Culture">Culture</option>
                <option value="Entertainment">Entertainment</option>
                <option value="Cult">Cult</option>
                <option value="Sports">Sport</option>
                <option value="Science">Science</option>
            </select>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Update user</button><br>
        <a href="delete?username=${username}"><button class="btn btn-lg btn-danger btn-block" type="submit">Delete user</button></a><br>
        <p class="mt-5 mb-3 text-muted"><strong>MonumentFinder</strong> © 2019</p>
    </form>
    #{/form}
	</div>
    <script type="text/javascript">
      $(document).ready(function() {
          $('.multiselect-ui').multiselect({
              onChange: function(option, checked) {
                  // Get selected options.
                  var selectedOptions = $('.multiselect-ui option:selected');

                  if (selectedOptions.length >= 4) {
                      // Disable all other checkboxes.
                      //var nonSelectedOptions = $('.multiselect-ui option').filter(function() {
                      //   return !$(this).is(':selected');
                      //});

                      //nonSelectedOptions.each(function() {
                      //    var input = $('input[value="' + $(this).val() + '"]');
                      //    input.prop('disabled', true);
                      //    input.parent('li').addClass('disabled');
                      //});
                  }
                  else {
                      // Enable all checkboxes.
                      $('.multiselect-ui option').each(function() {
                          var input = $('input[value="' + $(this).val() + '"]');
                          input.prop('disabled', false);
                          input.parent('li').addClass('disabled');
                      });
                  }
              }
          });
      });
    </script>
</body></html>